@(title: String, headInsert: Html = Html.empty)(content: Html)

<!DOCTYPE html>

<html ng-app="bookOMatic">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Book-o-matic: @title </title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>


    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.2.0.min.js"></script>

    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
    <script src="@routes.Assets.at("javascripts/services.js")"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.js"></script>
    @headInsert
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#"> Book-o-matic </a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"> <a href="#"> Home </a> </li>
                        <li> <a href="#about"> About </a> </li>
                        <li> <a href="#contact"> Contact </a> </li>
                    </ul>
                </div> <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        @content
    </div>
</body>
</html>
